.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  width: 100px;
}

.avatar {
  display: block;
  padding-top: 10px;
}

.name {
  font-weight: 400;
  font-size: 25px;
  margin: 0;
}

.status {
  font-weight: 400;
  font-size: 15px;
  margin-top: 0;
}

.online {
  color: green;
}

.offline {
  color: red;
}
